__pycache__/
*.py[cod]
*.pyd
.Python
*.log

.env
.env.*

.venv/
venv/
env/

.pytest_cache/
.mypy_cache/
.ruff_cache/

.vscode/
.idea/

*.sqlite
*.sqlite3
*.db

instance/
uploads/
tests/

*.mp4
*.wav
temp_*
*.avi
*.mov
