Flask==3.0.0
Flask-SQLAlchemy==3.1.1
Flask-Login==0.6.3
Flask-Admin==2.0.2
Flask-Migrate==4.0.5
Flask-Babel==4.0.0
Flask-WTF==1.2.1
Flask-Limiter==3.5.0
Flask-Talisman==1.1.0
Flask-Mail==0.9.1
email_validator==2.1.0.post1
python-dotenv==1.0.0
psycopg2-binary
gunicorn==21.2.0
Faker==20.1.0
click==8.1.7
requests==2.31.0
Pillow>=10.3.0
captcha
pandas
yfinance
mysqlclient
openai>=1.0.0
